In [1]:
import pandas as pd
from utils import *

In [2]:
rides_dataA_raw = pd.read_csv("Rides_DataA.csv")
rides_dataB_raw = pd.read_csv("Rides_DataB.csv")
Weather_Data = pd.read_csv("Weather_Data.csv")

/var/folders/5s/jq_rsff123s3hz43c0w63gy40000gn/T/ipykernel_62493/1909450748.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  rides_dataB_raw = pd.read_csv("Rides_DataB.csv")

In [3]:
rides_dataA_raw.head()

,RIDE_ID,started_on,created_date,updated_date,completed_on,distance_travelled,end_location_lat,end_location_long,driver_rating,rider_rating,...,charity_id,requested_car_category,free_credit_used,surge_factor,start_location_long,start_location_lat,rider_id,round_up_amount,promocode_redemption_id,driver_reached_on
0,0,2016-06-04 00:18:49-05:00,2016-06-04 00:10:19-05:00,2016-06-04 00:27:48-05:00,2016-06-04 00:27:32-05:00,8459.0,38.676,-121.039,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-121.071,38.655,0,NaN,NaN,2016-06-04 00:14:11-05:00
1,1,2016-06-04 01:50:12-05:00,2016-06-04 01:47:39-05:00,2016-06-04 01:52:00-05:00,2016-06-04 01:51:49-05:00,443.0,38.676,-121.039,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-121.038,38.679,0,NaN,NaN,2016-06-04 01:50:02-05:00
2,2,2016-06-04 03:16:02-05:00,2016-06-04 03:13:07-05:00,2016-06-04 03:18:07-05:00,2016-06-04 03:17:57-05:00,568.0,38.676,-121.039,3.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-121.042,38.678,0,NaN,NaN,2016-06-04 03:16:01-05:00
3,3,2016-06-04 10:05:13-05:00,2016-06-04 09:52:35-05:00,2016-06-04 10:14:00-05:00,2016-06-04 10:13:38-05:00,4051.0,30.271,-97.742,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-97.764,30.247,1,NaN,NaN,2016-06-04 10:01:19-05:00
4,4,2016-06-04 10:24:25-05:00,2016-06-04 10:23:25-05:00,2016-06-04 10:26:16-05:00,2016-06-04 10:26:07-05:00,790.0,30.269,-97.752,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-97.750,30.269,2,NaN,NaN,2016-06-04 10:24:15-05:00

In [4]:
rides_dataA_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494125 entries, 0 to 1494124
Data columns (total 21 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   RIDE_ID                  1494125 non-null  int64
 1   started_on               1494125 non-null  object
 2   created_date             1494125 non-null  object
 3   updated_date             1494125 non-null  object
 4   completed_on             1494125 non-null  object
 5   distance_travelled       1494123 non-null  float64
 6   end_location_lat         1494125 non-null  float64
 7   end_location_long        1494125 non-null  float64
 8   driver_rating            1355725 non-null  float64
 9   rider_rating             1468193 non-null  float64
 10  active_driver_id         1494125 non-null  int64
 11  charity_id               369561 non-null   float64
 12  requested_car_category   1494125 non-null  object
 13  free_credit_used         225394 non-null   float64
 14  surge_factor             1494125 non-null  float64
 15  start_location_long      1494125 non-null  float64
 16  start_location_lat       1494125 non-null  float64
 17  rider_id                 1494125 non-null  int64
 18  round_up_amount          1493352 non-null  float64
 19  promocode_redemption_id  38771 non-null    float64
 20  driver_reached_on        1492824 non-null  object
dtypes: float64(12), int64(3), object(6)
memory usage: 239.4+ MB

In [5]:
rides_dataB_raw.head()

,RIDE_ID,base_fare,total_fare,rate_per_mile,rate_per_minute,time_fare,driver_accepted_on,esimtated_time_arrive,tipped_on,tip,...,dispatched_on,status,driver_id,car_id,color,make,model,year,car_categories_bitmask,rating
0,0,1.5,25.84,1.5,0.25,2.18,NaN,NaN,NaN,NaN,...,2016-06-04 05:10:19,b'DISPATCHED',0,0,b'Gray',b'Bentley',b'Continental GT',b'2013',1,5.0
1,1,1.5,5.00,1.5,0.25,0.41,NaN,NaN,NaN,NaN,...,2016-06-04 06:47:39,b'DISPATCHED',0,0,b'Gray',b'Bentley',b'Continental GT',b'2013',1,5.0
2,2,1.5,5.00,1.5,0.25,0.48,NaN,NaN,NaN,NaN,...,2016-06-04 08:13:07,b'DISPATCHED',0,0,b'Gray',b'Bentley',b'Continental GT',b'2013',1,5.0
3,3,1.5,8.93,1.5,0.25,2.11,NaN,NaN,NaN,NaN,...,2016-06-04 14:52:35,b'DISPATCHED',1,1,b'Black',b'Cadillac',b'XTS',b'2013',21,5.0
4,4,1.5,5.00,1.5,0.25,0.43,NaN,NaN,NaN,NaN,...,2016-06-04 15:23:25,b'DISPATCHED',1,1,b'Black',b'Cadillac',b'XTS',b'2013',21,5.0

In [6]:
rides_dataB_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494125 entries, 0 to 1494124
Data columns (total 24 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   RIDE_ID                    1494125 non-null  int64
 1   base_fare                  1494125 non-null  float64
 2   total_fare                 1494123 non-null  float64
 3   rate_per_mile              1494125 non-null  float64
 4   rate_per_minute            1494125 non-null  float64
 5   time_fare                  1494123 non-null  float64
 6   driver_accepted_on         1494059 non-null  object
 7   esimtated_time_arrive      1415588 non-null  object
 8   tipped_on                  430895 non-null   object
 9   tip                        430895 non-null   float64
 10  driving_time_to_rider      1472302 non-null  float64
 11  dispatch_location_lat      1494125 non-null  float64
 12  dispatch_location_long     1494125 non-null  float64
 13  driving_distance_to_rider  1186767 non-null  float64
 14  dispatched_on              1494125 non-null  object
 15  status                     1494125 non-null  object
 16  driver_id                  1494125 non-null  int64
 17  car_id                     1494125 non-null  int64
 18  color                      1494125 non-null  object
 19  make                       1494125 non-null  object
 20  model                      1494125 non-null  object
 21  year                       1494125 non-null  object
 22  car_categories_bitmask     1494125 non-null  int64
 23  rating                     1494125 non-null  float64
dtypes: float64(11), int64(4), object(9)
memory usage: 273.6+ MB

In [7]:
Weather_Data.head()

,RIDE_ID,HOURLYVISIBILITY,HOURLYDRYBULBTEMPC,HOURLYRelativeHumidity,HOURLYWindSpeed,HOURLYWindDirection,HOURLYPrecip,DAILYMaximumDryBulbTemp,DAILYMinimumDryBulbTemp,DAILYDeptFromNormalAverageTemp,DAILYAverageRelativeHumidity,DAILYSunrise,DAILYSunset,DAILYPrecip,DAILYAverageWindSpeed,DAILYPeakWindSpeed
0,0,8.75,20.700000,94.0,6.0,13.333333,0.0,NaN,NaN,NaN,NaN,529.0,1930.0,1.63,NaN,NaN
1,1,6.00,21.100000,93.0,1.5,0.000000,0.0,NaN,NaN,NaN,NaN,529.0,1930.0,NaN,NaN,NaN
2,2,10.00,23.033333,88.0,5.0,350.000000,NaN,NaN,NaN,NaN,NaN,529.0,1930.0,NaN,NaN,NaN
3,3,10.00,26.700000,64.0,11.0,360.000000,0.0,NaN,NaN,NaN,NaN,529.0,1930.0,NaN,NaN,NaN
4,4,10.00,26.700000,64.0,11.0,360.000000,0.0,NaN,NaN,NaN,NaN,529.0,1930.0,NaN,NaN,NaN

In [8]:
Weather_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1494125 entries, 0 to 1494124
Data columns (total 16 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   RIDE_ID                         1494125 non-null  int64
 1   HOURLYVISIBILITY                1484509 non-null  float64
 2   HOURLYDRYBULBTEMPC              1491343 non-null  float64
 3   HOURLYRelativeHumidity          1475667 non-null  float64
 4   HOURLYWindSpeed                 1481350 non-null  float64
 5   HOURLYWindDirection             1140880 non-null  float64
 6   HOURLYPrecip                    1420991 non-null  float64
 7   DAILYMaximumDryBulbTemp         83123 non-null    float64
 8   DAILYMinimumDryBulbTemp         83123 non-null    float64
 9   DAILYDeptFromNormalAverageTemp  83123 non-null    float64
 10  DAILYAverageRelativeHumidity    36318 non-null    float64
 11  DAILYSunrise                    1493167 non-null  float64
 12  DAILYSunset                     1493167 non-null  float64
 13  DAILYPrecip                     96655 non-null    float64
 14  DAILYAverageWindSpeed           81774 non-null    float64
 15  DAILYPeakWindSpeed              81935 non-null    float64
dtypes: float64(15), int64(1)
memory usage: 182.4 MB

### clean rideA & rideB

In [9]:
rides_dataA = clean_byte_string_columns(rides_dataA_raw)
rides_dataB = clean_byte_string_columns(rides_dataB_raw)

In [10]:
rides_dataA.head()

,RIDE_ID,started_on,created_date,updated_date,completed_on,distance_travelled,end_location_lat,end_location_long,driver_rating,rider_rating,...,charity_id,requested_car_category,free_credit_used,surge_factor,start_location_long,start_location_lat,rider_id,round_up_amount,promocode_redemption_id,driver_reached_on
0,0,2016-06-04 00:18:49-05:00,2016-06-04 00:10:19-05:00,2016-06-04 00:27:48-05:00,2016-06-04 00:27:32-05:00,8459.0,38.676,-121.039,5.0,5.0,...,NaN,REGULAR,NaN,0.0,-121.071,38.655,0,NaN,NaN,2016-06-04 00:14:11-05:00
1,1,2016-06-04 01:50:12-05:00,2016-06-04 01:47:39-05:00,2016-06-04 01:52:00-05:00,2016-06-04 01:51:49-05:00,443.0,38.676,-121.039,5.0,5.0,...,NaN,REGULAR,NaN,0.0,-121.038,38.679,0,NaN,NaN,2016-06-04 01:50:02-05:00
2,2,2016-06-04 03:16:02-05:00,2016-06-04 03:13:07-05:00,2016-06-04 03:18:07-05:00,2016-06-04 03:17:57-05:00,568.0,38.676,-121.039,3.0,5.0,...,NaN,REGULAR,NaN,0.0,-121.042,38.678,0,NaN,NaN,2016-06-04 03:16:01-05:00
3,3,2016-06-04 10:05:13-05:00,2016-06-04 09:52:35-05:00,2016-06-04 10:14:00-05:00,2016-06-04 10:13:38-05:00,4051.0,30.271,-97.742,5.0,5.0,...,NaN,REGULAR,NaN,0.0,-97.764,30.247,1,NaN,NaN,2016-06-04 10:01:19-05:00
4,4,2016-06-04 10:24:25-05:00,2016-06-04 10:23:25-05:00,2016-06-04 10:26:16-05:00,2016-06-04 10:26:07-05:00,790.0,30.269,-97.752,5.0,5.0,...,NaN,REGULAR,NaN,0.0,-97.750,30.269,2,NaN,NaN,2016-06-04 10:24:15-05:00

In [13]:
rides_dataB.head()

,RIDE_ID,base_fare,total_fare,rate_per_mile,rate_per_minute,time_fare,driver_accepted_on,esimtated_time_arrive,tipped_on,tip,...,dispatched_on,status,driver_id,car_id,color,make,model,year,car_categories_bitmask,rating
0,0,1.5,25.84,1.5,0.25,2.18,NaN,NaN,NaN,NaN,...,2016-06-04 05:10:19,DISPATCHED,0,0,Gray,Bentley,Continental GT,2013,1,5.0
1,1,1.5,5.00,1.5,0.25,0.41,NaN,NaN,NaN,NaN,...,2016-06-04 06:47:39,DISPATCHED,0,0,Gray,Bentley,Continental GT,2013,1,5.0
2,2,1.5,5.00,1.5,0.25,0.48,NaN,NaN,NaN,NaN,...,2016-06-04 08:13:07,DISPATCHED,0,0,Gray,Bentley,Continental GT,2013,1,5.0
3,3,1.5,8.93,1.5,0.25,2.11,NaN,NaN,NaN,NaN,...,2016-06-04 14:52:35,DISPATCHED,1,1,Black,Cadillac,XTS,2013,21,5.0
4,4,1.5,5.00,1.5,0.25,0.43,NaN,NaN,NaN,NaN,...,2016-06-04 15:23:25,DISPATCHED,1,1,Black,Cadillac,XTS,2013,21,5.0

### join full df

In [43]:
rides_dataB_filtered = rides_dataB.query(" status != 'DECLINED' ")
rides_data = pd.merge(rides_dataA, rides_dataB_filtered, how='inner', on='RIDE_ID', suffixes=('_A', '_B'))

In [44]:
rides_data.head()

,RIDE_ID,started_on,created_date,updated_date,completed_on,distance_travelled,end_location_lat,end_location_long,driver_rating,rider_rating,...,dispatched_on,status,driver_id,car_id,color,make,model,year,car_categories_bitmask,rating
0,0,2016-06-04 00:18:49-05:00,2016-06-04 00:10:19-05:00,2016-06-04 00:27:48-05:00,2016-06-04 00:27:32-05:00,8459.0,38.676,-121.039,5.0,5.0,...,2016-06-04 05:10:19,DISPATCHED,0,0,Gray,Bentley,Continental GT,2013,1,5.0
1,1,2016-06-04 01:50:12-05:00,2016-06-04 01:47:39-05:00,2016-06-04 01:52:00-05:00,2016-06-04 01:51:49-05:00,443.0,38.676,-121.039,5.0,5.0,...,2016-06-04 06:47:39,DISPATCHED,0,0,Gray,Bentley,Continental GT,2013,1,5.0
2,2,2016-06-04 03:16:02-05:00,2016-06-04 03:13:07-05:00,2016-06-04 03:18:07-05:00,2016-06-04 03:17:57-05:00,568.0,38.676,-121.039,3.0,5.0,...,2016-06-04 08:13:07,DISPATCHED,0,0,Gray,Bentley,Continental GT,2013,1,5.0
3,3,2016-06-04 10:05:13-05:00,2016-06-04 09:52:35-05:00,2016-06-04 10:14:00-05:00,2016-06-04 10:13:38-05:00,4051.0,30.271,-97.742,5.0,5.0,...,2016-06-04 14:52:35,DISPATCHED,1,1,Black,Cadillac,XTS,2013,21,5.0
4,4,2016-06-04 10:24:25-05:00,2016-06-04 10:23:25-05:00,2016-06-04 10:26:16-05:00,2016-06-04 10:26:07-05:00,790.0,30.269,-97.752,5.0,5.0,...,2016-06-04 15:23:25,DISPATCHED,1,1,Black,Cadillac,XTS,2013,21,5.0

In [45]:
# Convert to datetime with error handling
rides_data['created_date'] = pd.to_datetime(rides_data['created_date'], errors='coerce')
rides_data['driver_reached_on'] = pd.to_datetime(rides_data['driver_reached_on'], errors='coerce')

# Calculate wait time
rides_data['customer_wait_time'] = rides_data['driver_reached_on'] - rides_data['created_date']

# Remove rows with invalid data
rides_data = rides_data.dropna(subset=['customer_wait_time'])

# Check if we have a proper timedelta column
print(f"Data type of customer_wait_time: {rides_data['customer_wait_time'].dtype}")

# Only proceed if it's actually a timedelta
if pd.api.types.is_timedelta64_dtype(rides_data['customer_wait_time']):
    rides_data['customer_wait_time_seconds'] = rides_data['customer_wait_time'].dt.total_seconds().astype(int)
else:
    print("customer_wait_time is not a timedelta. Converting manually...")
    # Force convert to timedelta if possible
    rides_data['customer_wait_time'] = pd.to_timedelta(rides_data['customer_wait_time'], errors='coerce')
    rides_data = rides_data.dropna(subset=['customer_wait_time'])
    rides_data['customer_wait_time_seconds'] = rides_data['customer_wait_time'].dt.total_seconds().astype(int)

/var/folders/5s/jq_rsff123s3hz43c0w63gy40000gn/T/ipykernel_62493/3516949908.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  rides_data['created_date'] = pd.to_datetime(rides_data['created_date'], errors='coerce')
/var/folders/5s/jq_rsff123s3hz43c0w63gy40000gn/T/ipykernel_62493/3516949908.py:3: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  rides_data['driver_reached_on'] = pd.to_datetime(rides_data['driver_reached_on'], errors='coerce')

Data type of customer_wait_time: object
customer_wait_time is not a timedelta. Converting manually...

In [46]:
rides_data.head()

,RIDE_ID,started_on,created_date,updated_date,completed_on,distance_travelled,end_location_lat,end_location_long,driver_rating,rider_rating,...,driver_id,car_id,color,make,model,year,car_categories_bitmask,rating,customer_wait_time,customer_wait_time_seconds
0,0,2016-06-04 00:18:49-05:00,2016-06-04 00:10:19-05:00,2016-06-04 00:27:48-05:00,2016-06-04 00:27:32-05:00,8459.0,38.676,-121.039,5.0,5.0,...,0,0,Gray,Bentley,Continental GT,2013,1,5.0,0 days 00:03:52,232
1,1,2016-06-04 01:50:12-05:00,2016-06-04 01:47:39-05:00,2016-06-04 01:52:00-05:00,2016-06-04 01:51:49-05:00,443.0,38.676,-121.039,5.0,5.0,...,0,0,Gray,Bentley,Continental GT,2013,1,5.0,0 days 00:02:23,143
2,2,2016-06-04 03:16:02-05:00,2016-06-04 03:13:07-05:00,2016-06-04 03:18:07-05:00,2016-06-04 03:17:57-05:00,568.0,38.676,-121.039,3.0,5.0,...,0,0,Gray,Bentley,Continental GT,2013,1,5.0,0 days 00:02:54,174
3,3,2016-06-04 10:05:13-05:00,2016-06-04 09:52:35-05:00,2016-06-04 10:14:00-05:00,2016-06-04 10:13:38-05:00,4051.0,30.271,-97.742,5.0,5.0,...,1,1,Black,Cadillac,XTS,2013,21,5.0,0 days 00:08:44,524
4,4,2016-06-04 10:24:25-05:00,2016-06-04 10:23:25-05:00,2016-06-04 10:26:16-05:00,2016-06-04 10:26:07-05:00,790.0,30.269,-97.752,5.0,5.0,...,1,1,Black,Cadillac,XTS,2013,21,5.0,0 days 00:00:50,50

In [47]:
rides_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1044610 entries, 0 to 1045443
Data columns (total 46 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   RIDE_ID                     1044610 non-null  int64
 1   started_on                  1044610 non-null  object
 2   created_date                1044610 non-null  object
 3   updated_date                1044610 non-null  object
 4   completed_on                1044610 non-null  object
 5   distance_travelled          1044610 non-null  float64
 6   end_location_lat            1044610 non-null  float64
 7   end_location_long           1044610 non-null  float64
 8   driver_rating               948716 non-null   float64
 9   rider_rating                1027147 non-null  float64
 10  active_driver_id            1044610 non-null  int64
 11  charity_id                  259400 non-null   float64
 12  requested_car_category      1044610 non-null  object
 13  free_credit_used            161215 non-null   float64
 14  surge_factor                1044610 non-null  float64
 15  start_location_long         1044610 non-null  float64
 16  start_location_lat          1044610 non-null  float64
 17  rider_id                    1044610 non-null  int64
 18  round_up_amount             1044073 non-null  float64
 19  promocode_redemption_id     26239 non-null    float64
 20  driver_reached_on           1044610 non-null  object
 21  base_fare                   1044610 non-null  float64
 22  total_fare                  1044610 non-null  float64
 23  rate_per_mile               1044610 non-null  float64
 24  rate_per_minute             1044610 non-null  float64
 25  time_fare                   1044610 non-null  float64
 26  driver_accepted_on          1044574 non-null  object
 27  esimtated_time_arrive       989087 non-null   object
 28  tipped_on                   297580 non-null   object
 29  tip                         297580 non-null   float64
 30  driving_time_to_rider       1030175 non-null  float64
 31  dispatch_location_lat       1044610 non-null  float64
 32  dispatch_location_long      1044610 non-null  float64
 33  driving_distance_to_rider   824955 non-null   float64
 34  dispatched_on               1044610 non-null  object
 35  status                      1044610 non-null  object
 36  driver_id                   1044610 non-null  int64
 37  car_id                      1044610 non-null  int64
 38  color                       1044610 non-null  object
 39  make                        1044610 non-null  object
 40  model                       1044610 non-null  object
 41  year                        1044610 non-null  object
 42  car_categories_bitmask      1044610 non-null  int64
 43  rating                      1044610 non-null  float64
 44  customer_wait_time          1044610 non-null  timedelta64[ns]
 45  customer_wait_time_seconds  1044610 non-null  int64
dtypes: float64(23), int64(7), object(15), timedelta64[ns](1)
memory usage: 374.6+ MB